
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.top-banner{
    background-image: url(./img/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}

.welcome-part{
    margin-left: 7%;
    padding-right: 15%;
}

h1{
    font-size: 50px;
}
h3{
    font-size: 25px;
}

.text-color{
    color: orange;
}

.link-button{
    padding: 10px 40px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

#fst-img{
    width: 100%;
    margin-right: 5%;
    margin-top: 10px;
   
}

.dream-big-section{
    display: flex;
    margin-top: 130px;
    background-image: url(./img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#second-img{
    margin-left: 7%;
}

.dream-big{
    margin-left: 12%;
    padding-right: 7%;
}

.section-item{
    display: flex;
    background-image: url(./img/exp-bg.png);
    background-repeat: no-repeat;
    margin-top: 150px;
}
.exerience-item{
    width: 50%;
    margin-top: -100px;
    box-shadow: 10px 10px 20px black;
}

.full-stack{
    margin-left: 5%;
    margin-right: 0%;
    padding-left: 1%;
    border-left: 8px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;
   

    
}

.baby-web{
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 2%;
    
    border-left: 8px solid black;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#font-orange{
    color: orange;
}

#text-size{
    font-size: 40px;
}

footer{
    margin-top: 100px;
    text-align: center;
   
}